*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}



div{
    margin-bottom: 50px;
}

.btn{
    font-size: 32px;
    padding: 19px 41px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.btn-simple{
    color: #D800ff;
}

.btn-simple:hover{
    color: #82029A;
    font-size: 40px;
}

.btn-square{
    background-color: #D800ff;
}

.btn-square:hover{
    background-color: #82029A;
}

.btn-border-radius{
    border-radius: 20px;
    background-color: #D800ff;
}

.btn-border-radius:hover{
    background-color: #82029A;
}

.btn-box-shadow{
    border-radius: 20px;
    box-shadow: 0px 10px 10px lightgrey;
    background-color: #D800ff;
}

.btn-box-shadow:hover{
    background-color: #82029A;
}

.btn-gradient{
    border-radius: 20px;
    background: rgb(130,2,154);
    background: linear-gradient(0deg, rgba(130,2,154,1) 0%, rgba(216,0,255,1) 100%);
    background-color: #D800ff;
}

.btn-gradient:hover{
    background: rgb(216,0,255);
    background: linear-gradient(0deg, rgba(216,0,255,1) 0%, rgba(130,2,154,1) 100%);;
}